/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, KEY_POSITIONS, BINDINGS) \
  combo_##NAME { \
    key-positions = <KEY_POSITIONS>; \
    bindings = <BINDINGS>; \
    timeout-ms = <50>; \
  };

COMBO(esc,          1 2, &kp ESC)
COMBO(tab,          7 8, &kp TAB)
COMBO(lower_layer,  0 1, &kp F24)
COMBO(lower_layer_standalone,  0 4, &to LOWER)
COMBO(adjust_layer, 0 9 20 29, &to ADJUST)
COMBO(word,         0 9, &caps_word)
COMBO(default,      4 24, &to DEFAULT)
COMBO(standalone,   5 25, &to STANDALONE)
