/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, KEY_POSITIONS, BINDINGS) \
  combo_##NAME { \
    key-positions = <KEY_POSITIONS>; \
    bindings = <BINDINGS>; \
    timeout-ms = <50>; \
  };

#define LAYER_COMBO(LAYERS, NAME, KEY_POSITIONS, BINDINGS) \
  combo_##NAME { \
    layers = <LAYERS>; \
    key-positions = <KEY_POSITIONS>; \
    bindings = <BINDINGS>; \
    timeout-ms = <50>; \
  };

COMBO(esc,        1 2, &kp ESC)
COMBO(tab,        7 8, &kp TAB)
COMBO(word,       0 9, &wrt_word)

//layers
COMBO(nav,        0 4, &to NAV)
COMBO(function,   0 1, &to FUNCTION)
//COMBO(apps1,      0 2, &to APPS)
COMBO(apps2,      0 1 2, &to APPS)
COMBO(apps3,      1 8, &to APPS)
COMBO(adjust,     0 9 20 29, &to ADJUST)
COMBO(default,    4 24, &to DEFAULT)
COMBO(assisted,   5 25, &to ASSISTED)
COMBO(emoji,      22 27, &to EMOJI)

LAYER_COMBO(FUNCTION, mute,     2 3, &kp K_MUTE)
LAYER_COMBO(FUNCTION, previous, 4 14, &kp C_PREV)


