macro_layer: macro_layer {
    compatible = "zmk,behavior-macro";
    label = "macro_layer";
    #binding-cells = <0>;
    bindings = <&to STANDALONE>, <&mo NUM_APP>;
};

macro_one: macro_one {
    compatible = "zmk,behavior-macro";
    label = "macro_one";
    #binding-cells = <0>;
    //bindings = <&kp LT>, <&kp GT>, <&kp LEFT>;
    bindings = <&tog NAV>, <&kp N1>;
};

macro_two: macro_two {
    compatible = "zmk,behavior-macro";
    label = "macro_two";
    #binding-cells = <0>;
    //bindings = <&kp LT>, <&kp GT>, <&kp LEFT>;
    bindings = <&tog NAV>, <&kp N2>;
};

test: test {
    compatible = "zmk,behavior-hold-tap";
    label = "test";
    #binding-cells = <2>;
    tapping-term-ms = <135>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
    bindings = <&macro_layer>, <&to>;
};