#define MACRO(NAME, BINDINGS) \
  NAME: NAME { \
      compatible = "zmk,behavior-macro"; \
      label = #NAME; \
      #binding-cells = <0>; \
      bindings = <BINDINGS>; \
  };

#define EMOJI_KEY(KEY) \
    MACRO(emoji_##KEY, &kp TILDE &kp KEY &kp TILDE &to ALPHA)

MACRO(code_block, &kp GRAVE &kp GRAVE &kp GRAVE &to ALPHA)
MACRO(code_java, &kp GRAVE &kp GRAVE &kp GRAVE &kp J &kp A &kp V &kp A &to ALPHA)
MACRO(code_json, &kp GRAVE &kp GRAVE &kp GRAVE &kp J &kp S &kp O &kp N &to ALPHA)
EMOJI_KEY(P)
EMOJI_KEY(B)
EMOJI_KEY(J)
EMOJI_KEY(L)
EMOJI_KEY(U)
EMOJI_KEY(Y)
EMOJI_KEY(SCLN)
EMOJI_KEY(A)
EMOJI_KEY(R)
EMOJI_KEY(S)
EMOJI_KEY(T)
EMOJI_KEY(G)
EMOJI_KEY(M)
EMOJI_KEY(N)
EMOJI_KEY(E)
EMOJI_KEY(I)
EMOJI_KEY(O)
EMOJI_KEY(Z)
EMOJI_KEY(X)
EMOJI_KEY(C)
EMOJI_KEY(D)
EMOJI_KEY(V)
EMOJI_KEY(K)
EMOJI_KEY(H)
EMOJI_KEY(CMMA)
EMOJI_KEY(DOT)
EMOJI_KEY(FSLH)
