to_wrt: to_wrt {
    compatible = "zmk,behavior-macro";
    label = "to_wrt";
    #binding-cells = <0>;
    bindings = <&kp HYPER(EQUAL)>;
};

to_nav: to_nav {
    compatible = "zmk,behavior-macro";
    label = "to_nav";
    #binding-cells = <0>;
    bindings = <&to DEFAULT>;
};

wrt_word: wrt_word {
    compatible = "zmk,behavior-macro";
    label = "wrt_word";
    #binding-cells = <0>;
    bindings = <&to DEFAULT>, <&caps_word>;
};

ss_clip_nav: ss_clip_nav {
    compatible = "zmk,behavior-macro";
    label = "ss_clip_nav";
    #binding-cells = <0>;
    bindings = <&to_nav>, <&kp _SS_CLIP>;
};

test: test {
    compatible = "zmk,behavior-hold-tap";
    label = "test";
    #binding-cells = <2>;
    tapping-term-ms = <135>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
    bindings = <&to_nav>, <&to>;
};

ZMK_MACRO(esc_nav,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = < &to NAV &kp ESC>;
)
