#define APP_MACRO(NAME, BINDINGS) \
  NAME: NAME { \
      compatible = "zmk,behavior-macro"; \
      label = #NAME; \
      #binding-cells = <0>; \
      bindings = <BINDINGS>; \
  };

#define OPEN_APP_HYPER_KEY(KEY) \
    APP_MACRO(apps_##KEY, &kp HYPER(KEY) &to ALPHA)

#define OPEN_APP_MEH_KEY(KEY) \
    APP_MACRO(apps_meh_##KEY, &kp MEH(KEY) &to ALPHA)

OPEN_APP_HYPER_KEY(F1)
OPEN_APP_HYPER_KEY(F2)
OPEN_APP_HYPER_KEY(F3)
OPEN_APP_HYPER_KEY(F4)
OPEN_APP_HYPER_KEY(F5)
OPEN_APP_HYPER_KEY(F6)
OPEN_APP_HYPER_KEY(F7)
OPEN_APP_HYPER_KEY(F8)
OPEN_APP_HYPER_KEY(F9)
OPEN_APP_HYPER_KEY(F10)
OPEN_APP_HYPER_KEY(F11)
OPEN_APP_HYPER_KEY(F12)
OPEN_APP_HYPER_KEY(F13)
OPEN_APP_HYPER_KEY(F14)
OPEN_APP_HYPER_KEY(F15)
OPEN_APP_HYPER_KEY(F16)
OPEN_APP_HYPER_KEY(F17)
OPEN_APP_HYPER_KEY(F18)
OPEN_APP_HYPER_KEY(F19)
OPEN_APP_HYPER_KEY(F20)
OPEN_APP_HYPER_KEY(F21)
OPEN_APP_HYPER_KEY(F22)
OPEN_APP_HYPER_KEY(F23)
OPEN_APP_HYPER_KEY(F24)

OPEN_APP_MEH_KEY(F1)
OPEN_APP_MEH_KEY(F2)
OPEN_APP_MEH_KEY(F3)
OPEN_APP_MEH_KEY(F4)
OPEN_APP_MEH_KEY(F5)
OPEN_APP_MEH_KEY(F6)
