ZMK_MACRO(wrt_word,
    wait-ms = <0>;
    tap-ms = <0>;
    bindings = <&to ALPHA>, <&caps_word>;
)


ZMK_MACRO(ss_clip_nav,
    wait-ms = <0>;
    tap-ms = <0>;
    bindings = <&kp _SS_CLIP &to NAV>;
)

ZMK_MACRO(esc_nav,
    wait-ms = <0>;
    tap-ms = <0>;
    bindings = <&to NAV &kp ESC>;
)
