hm: home_row_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_MODS";
    #binding-cells = <2>;
    tapping-term-ms = <120>;
    quick_tap_ms = <180>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

kp_to: kp_to {
    compatible = "zmk,behavior-hold-tap";
    label = "KP_TO";
    #binding-cells = <2>;
    tapping-term-ms = <135>;
    quick_tap_ms = <-1>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&to>;
};

hm_to: homerow_layer {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_LAYER";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick_tap_ms = <180>;
    flavor = "tap-preferred";
    bindings = <&mo>, <&kp>;
};


hm_spc: hm_spc {
    compatible = "zmk,behavior-hold-tap";
    label = "hm_spc";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick_tap_ms = <180>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};


