#define HT(flavor, name, bindingHold, bindingTap, tappingTermMs) \
    HOLD_TAP_TEMPLATE(flavor, name, bindingHold, bindingTap, tappingTermMs)

#define HT_QT(flavor, name, bindingHold, bindingTap, tappingTermMs, quickTapMs) \
    HOLD_TAP_TEMPLATE(flavor, name, bindingHold, bindingTap, tappingTermMs, quick-tap-ms = <quickTapMs>;)

#define HOLD_TAP_TEMPLATE(definedFlavor, name, bindingHold, bindingTap, tappingTermMs, ...) \
	name: name { \
        label = STRINGIFY(ZM_##name); \
        compatible = "zmk,behavior-hold-tap"; \
        #binding-cells = <2>; \
        tapping-term-ms = <tappingTermMs>; \
        flavor = definedFlavor; \
        bindings = <bindingHold>, <bindingTap>; \
        __VA_ARGS__ \
    };

HT_QT("tap-preferred", hm, &kp, &kp, 120, 180)
HT_QT("tap-preferred", hm_spc, &kp, &kp, 200, 180)
HT_QT("tap-preferred", hm_to, &mo, &kp, 200, 180)
HT("tap-preferred", kp_to, &kp, &to, 135)
