#define STRINGIFY(s) #s

#define MACRO(name,...) \
	MACRO_TIMED(name, 0, 0, __VA_ARGS__)

#define MACRO_TIMED(name, waitMs, tapMs, ...) \
    ZMK_MACRO(name, \
        wait-ms = <waitMs>; \
        tap-ms = <tapMs>; \
        bindings = __VA_ARGS__ ; \
    )



#define MOD_MORPH(name, normalTap, morphedTap, morphingMods) \
    name: name { \
        label = STRINGIFY(ZM_##name); \
        compatible = "zmk,behavior-mod-morph"; \
        #binding-cells = <0>; \
        bindings = <normalTap>, <morphedTap>; \
        mods = <(morphingMods)>; \
    };



#define HT(flavor, name, bindingHold, bindingTap, tappingTermMs) \
    HOLD_TAP_TEMPLATE(flavor, name, bindingHold, bindingTap, tappingTermMs)

#define HT_QT(flavor, name, bindingHold, bindingTap, tappingTermMs, quickTapMs) \
    HOLD_TAP_TEMPLATE(flavor, name, bindingHold, bindingTap, tappingTermMs, quick-tap-ms = <quickTapMs>;)

#define HOLD_TAP_TEMPLATE(definedFlavor, name, bindingHold, bindingTap, tappingTermMs, ...) \
	name: name { \
        label = STRINGIFY(ZM_##name); \
        compatible = "zmk,behavior-hold-tap"; \
        #binding-cells = <2>; \
        tapping-term-ms = <tappingTermMs>; \
        flavor = definedFlavor; \
        bindings = <bindingHold>, <bindingTap>; \
        __VA_ARGS__ \
    };


#define DUAL_KEY(name, bindingHold, bindingTap) \
    MACRO(dual_macro_##name, \
        <&macro_tap bindingHold>, \
        <&macro_pause_for_release> \
    ) \
    HT("tap-preferred", name, &dual_macro_##name, bindingTap, 180)
