#define AUTO_SHIFT(letter) \
    MACRO(shifted_lowercase_##letter, \
        <&macro_press &kp letter>, \
        <&macro_pause_for_release>, \
        <&macro_release &kp letter> \
    ) \
    DUAL_KEY(shifted_##letter, &kp LS(letter), &shifted_lowercase_##letter)


AUTO_SHIFT(A)
AUTO_SHIFT(B)
AUTO_SHIFT(C)
AUTO_SHIFT(D)
AUTO_SHIFT(E)
AUTO_SHIFT(F)
AUTO_SHIFT(G)
AUTO_SHIFT(H)
AUTO_SHIFT(I)
AUTO_SHIFT(J)
AUTO_SHIFT(K)
AUTO_SHIFT(L)
AUTO_SHIFT(M)
AUTO_SHIFT(N)
AUTO_SHIFT(O)
AUTO_SHIFT(P)
AUTO_SHIFT(Q)
AUTO_SHIFT(R)
AUTO_SHIFT(S)
AUTO_SHIFT(T)
AUTO_SHIFT(U)
AUTO_SHIFT(V)
AUTO_SHIFT(W)
AUTO_SHIFT(X)
AUTO_SHIFT(Y)
AUTO_SHIFT(Z)
AUTO_SHIFT(SCLN)
AUTO_SHIFT(CMMA)
AUTO_SHIFT(DOT)
AUTO_SHIFT(FSLH)
