#define AUTO_SHIFT_NON_BREAKING(letter) \
    DUAL_KEY_INVOKED(shifted_nb_##letter, &kp letter, &kp BSPC &kp LS(letter))


AUTO_SHIFT_NON_BREAKING(A)
AUTO_SHIFT_NON_BREAKING(B)
AUTO_SHIFT_NON_BREAKING(C)
AUTO_SHIFT_NON_BREAKING(D)
AUTO_SHIFT_NON_BREAKING(E)
AUTO_SHIFT_NON_BREAKING(F)
AUTO_SHIFT_NON_BREAKING(G)
AUTO_SHIFT_NON_BREAKING(H)
AUTO_SHIFT_NON_BREAKING(I)
AUTO_SHIFT_NON_BREAKING(J)
AUTO_SHIFT_NON_BREAKING(K)
AUTO_SHIFT_NON_BREAKING(L)
AUTO_SHIFT_NON_BREAKING(M)
AUTO_SHIFT_NON_BREAKING(N)
AUTO_SHIFT_NON_BREAKING(O)
AUTO_SHIFT_NON_BREAKING(P)
AUTO_SHIFT_NON_BREAKING(Q)
AUTO_SHIFT_NON_BREAKING(R)
AUTO_SHIFT_NON_BREAKING(S)
AUTO_SHIFT_NON_BREAKING(T)
AUTO_SHIFT_NON_BREAKING(U)
AUTO_SHIFT_NON_BREAKING(V)
AUTO_SHIFT_NON_BREAKING(W)
AUTO_SHIFT_NON_BREAKING(Y)
AUTO_SHIFT_NON_BREAKING(Z)
AUTO_SHIFT_NON_BREAKING(SCLN)
AUTO_SHIFT_NON_BREAKING(CMMA)
AUTO_SHIFT_NON_BREAKING(FSLH)
