#define AUTO_SHIFT_UPPERCASE(letter) \
    MACRO(shifted_up_##letter, <&macro_tap &kp LS(letter)>)

#define AUTO_SHIFT_UPPERCASE_HOME_ROW(letter, binding, tappingTerm) \
    HT("tap-preferred", hm_up_##letter, binding, &shifted_up_##letter, tappingTerm) \
    MACRO(shifted_up_##letter, <&macro_tap &kp LS(letter)>)


AUTO_SHIFT_UPPERCASE(A)
AUTO_SHIFT_UPPERCASE(B)
AUTO_SHIFT_UPPERCASE(C)
AUTO_SHIFT_UPPERCASE(D)
AUTO_SHIFT_UPPERCASE(E)
AUTO_SHIFT_UPPERCASE(F)
AUTO_SHIFT_UPPERCASE(G)
AUTO_SHIFT_UPPERCASE(H)
AUTO_SHIFT_UPPERCASE(I)
AUTO_SHIFT_UPPERCASE(J)
AUTO_SHIFT_UPPERCASE(K)
AUTO_SHIFT_UPPERCASE(L)
AUTO_SHIFT_UPPERCASE(M)
AUTO_SHIFT_UPPERCASE(N)
AUTO_SHIFT_UPPERCASE(O)
AUTO_SHIFT_UPPERCASE(P)
AUTO_SHIFT_UPPERCASE(Q)
AUTO_SHIFT_UPPERCASE(R)
AUTO_SHIFT_UPPERCASE(S)
AUTO_SHIFT_UPPERCASE(T)
AUTO_SHIFT_UPPERCASE(U)
AUTO_SHIFT_UPPERCASE(V)
AUTO_SHIFT_UPPERCASE(W)
AUTO_SHIFT_UPPERCASE(Y)
AUTO_SHIFT_UPPERCASE(Z)
AUTO_SHIFT_UPPERCASE(SCLN)
AUTO_SHIFT_UPPERCASE(CMMA)
AUTO_SHIFT_UPPERCASE(FSLH)

AUTO_SHIFT_UPPERCASE_HOME_ROW(X, &kp, 120)
AUTO_SHIFT_UPPERCASE_HOME_ROW(DOT, &kp, 120)
