MACRO(caps_word_alpha, <&to ALPHA &caps_word>)
MACRO(esc_nav, <&to NAV &kp ESC>)

DUAL_KEY(dual_paste, &kp _CLPBRD_MGR, &paste_macro)
MACRO(paste_macro, <&kp _PASTE &sl PASTE_MO>)

DUAL_KEY(dual_back, &kp _GO_BACK, &kp)
DUAL_KEY(dual_frwd, &kp _GO_FRWD, &kp)

MACRO(ss_clip_nav, <&kp _SS_CLPBRD &to NAV>)
MACRO(ss_tool_nav, <&kp _SS_TOOL &to NAV>)
DUAL_KEY(dual_ss_tool, &ss_tool_nav, &ss_clip_nav)

DUAL_KEY(dual_focus_url, &kp _UNFOCUS_URL, &kp)

DUAL_KEY(dual_prj_bkmrks, &projects_alpha, &bkmrks_alpha)
MACRO(projects_alpha, <&kp _PROJECTS &to ALPHA>)
MACRO(bkmrks_alpha, <&kp _BKMRKS &to ALPHA>)
