MACRO(caps_word_alpha, <&to ALPHA &caps_word>)
MACRO(alfred_alpha, <&to ALPHA &kp LG(SPC)>)
MACRO(esc_nav, <&to NAV &kp ESC>)

DUAL_KEY(dual_copy, &select_copy, &kp)
MACRO(select_copy, <&kp LG(A) &kp _COPY>)

DUAL_KEY(dual_paste, &kp _CLPBRD_MGR, &paste_macro)
MACRO(paste_macro, <&kp _PASTE &sl PASTE_MO>)

DUAL_KEY(dual_back, &kp _GO_BACK, &kp)
DUAL_KEY(dual_frwd, &kp _GO_FRWD, &kp)

MACRO(ss_clip_nav, <&kp _SS_CLPBRD &to NAV>)
MACRO(ss_tool_nav, <&kp _SS_TOOL &to NAV>)
DUAL_KEY(dual_ss_tool, &ss_tool_nav, &ss_clip_nav)

DUAL_KEY(dual_focus_url, &kp _UNFOCUS_URL, &kp)

DUAL_KEY(dual_prj_bkmrks, &projects_alpha, &bkmrks_alpha)
MACRO(projects_alpha, <&kp _PROJECTS &to ALPHA>)
MACRO(bkmrks_alpha, <&kp _BKMRKS &to ALPHA>)

// this macro exists so that selection layer is turned off. If used directly it stays on.
MACRO(os_alpha, <&sl_ignore_mods_quick ALPHA_AUTO_SHIFTED>)
