#define NUM_KEY(key) \
    MACRO(num_##key, \
        <&macro_tap &to NUM_APP>,  \
        <&macro_tap &tog ALPHA>,  \
        <&macro_press &kp key>,  \
        <&macro_pause_for_release>,  \
        <&macro_release &kp key> \
    )


NUM_KEY(BSLH)
NUM_KEY(EXCL)
NUM_KEY(PLUS)
NUM_KEY(AMPS)
NUM_KEY(TILDE)
NUM_KEY(N0)
NUM_KEY(N1)
NUM_KEY(N2)
NUM_KEY(N3)
NUM_KEY(N4)
NUM_KEY(N5)
NUM_KEY(N6)
NUM_KEY(N7)
NUM_KEY(N8)
NUM_KEY(N9)


DUAL_KEY(dual_LG5, &kp LG(N5), &kp)
DUAL_KEY(dual_LG6, &kp LG(N6), &kp)
DUAL_KEY(dual_LG7, &kp LG(N7), &kp)
DUAL_KEY(dual_LG8, &kp LG(N8), &kp)
DUAL_KEY(dual_LG0, &kp LG(N0), &kp)



