#define SHIFTED_GUI(letter) SHIFTED_GUI_DEF(##letter, &kp LS(LG(letter)), &kp)

#define SHIFTED_GUI_DEF(suffix, onHold, onTap) DUAL_KEY_QT(shifted_gui_##suffix, onHold, onTap)


SHIFTED_GUI(A)
SHIFTED_GUI(B)
SHIFTED_GUI(C)
SHIFTED_GUI(D)
SHIFTED_GUI(E)
SHIFTED_GUI_DEF(F, &find_alpha_hold, &find_alpha)
SHIFTED_GUI(G)
SHIFTED_GUI(H)
SHIFTED_GUI(I)
SHIFTED_GUI(J)
SHIFTED_GUI(K)
SHIFTED_GUI(L)
SHIFTED_GUI(M)
SHIFTED_GUI(N)
SHIFTED_GUI(O)
SHIFTED_GUI(P)
SHIFTED_GUI(Q)
SHIFTED_GUI(R)
SHIFTED_GUI(S)
SHIFTED_GUI(T)
SHIFTED_GUI(U)
SHIFTED_GUI(V)
SHIFTED_GUI(W)
SHIFTED_GUI(X)
SHIFTED_GUI(Y)
SHIFTED_GUI(Z)
SHIFTED_GUI(SCLN)
SHIFTED_GUI(CMMA)
SHIFTED_GUI(DOT)
SHIFTED_GUI(FSLH)

