#define SELECTION_MORPHING(keyName, key) \
    MOD_MORPH(morphing_##keyName, &kp key, &sel_##keyName, MOD_LSFT) \
    MACRO(sel_##keyName, \
        <&macro_press &kp LS(key)>, \
        <&macro_pause_for_release>, \
        <&macro_release &kp LS(key)>, \
        <&macro_tap &sl SEL_MODE> \
    )


SELECTION_MORPHING(left, LEFT)
SELECTION_MORPHING(right, RIGHT)
SELECTION_MORPHING(down, DOWN)
SELECTION_MORPHING(up, UP)
SELECTION_MORPHING(pg_up, PG_UP)
SELECTION_MORPHING(pg_dn, PG_DN)
SELECTION_MORPHING(alt_left, LA(LEFT))
SELECTION_MORPHING(alt_right, LA(RIGHT))

SELECTION_MORPHING(lg_left, LG(LEFT))
SELECTION_MORPHING(lg_right, LG(RIGHT))


HT("tap-preferred", sel_lgui_nav, &sel_lgui_shortcut_sel, &to, 135)

MACRO(sel_lgui_shortcut_sel,
    <&macro_press &mo SHORTCUT_SEL &kp LGUI>,
    <&macro_pause_for_release>,
    <&macro_release &mo SHORTCUT_SEL &kp LGUI>,
    <&macro_tap &sl SEL_MODE>
)
