MACRO(shifting_detector_dot, <&kp DOT &sl SHIFTING_DTCTR>)
MOD_MORPH(shifting_dot, &shifting_detector_dot, &kp DOT, MOD_LSFT|MOD_RSFT|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI)

MACRO(shifting_spc, <&kp SPC &sl ALPHA_SHIFTED>)


// doesn't work currently, because switch to symbol/num layer does not reset pressed &kp LSFT from shifting macro
//MACRO(spc_to_shifted, <&kp SPC &sl_shifting_macro 0>)
//sl_shifting_macro: sl_shifting_macro {
//    compatible = "zmk,behavior-sticky-key";
//    label = "sl_shifting_macro";
//    #binding-cells = <1>;
//    release-after-ms = <60000>;
//    bindings = <&shifting_macro>;
//    ignore-modifiers;
//    quick-release;
//};
//
//MACRO(shifting_macro,
//    <&macro_press &mo ALPHA_AS &kp LSFT>,
//    <&macro_pause_for_release>,
//    <&macro_release &mo ALPHA_AS &kp LSFT>
//)
