#define SYMBOL_KEY(key) \
    MACRO(sym_##key, \
        <&macro_tap &to SYMBOL &tog ALPHA>, \
        <&macro_release &kp LALT>, \
        <&macro_press &kp key>, \
        <&macro_pause_for_release>, \
        <&macro_release &kp key> \
    )


SYMBOL_KEY(BSLH)
SYMBOL_KEY(GRAVE)
SYMBOL_KEY(LBRC)
SYMBOL_KEY(RBRC)
SYMBOL_KEY(EXCL)
SYMBOL_KEY(SQT)
SYMBOL_KEY(LPAR)
SYMBOL_KEY(RPAR)
SYMBOL_KEY(DQT)
SYMBOL_KEY(AT)
SYMBOL_KEY(RBKT)
SYMBOL_KEY(EQUAL)
SYMBOL_KEY(AMPS)
SYMBOL_KEY(N0)
SYMBOL_KEY(N1)
SYMBOL_KEY(N2)
SYMBOL_KEY(N3)
SYMBOL_KEY(N4)
SYMBOL_KEY(N5)
SYMBOL_KEY(N6)
SYMBOL_KEY(N7)
SYMBOL_KEY(N8)
SYMBOL_KEY(N9)

SYMBOL_KEY(MINUS)
MACRO(sym_lambda_arrow, <&kp BSPC &kp SPC &kp MINUS &kp GREATER_THAN>, <&kp SPC>)
DUAL_KEY_INVOKED(dk_sym_MINUS, &sym_MINUS, &sym_lambda_arrow)

SYMBOL_KEY(DLLR)
MACRO(sym_PRCNT, <&kp BSPC &kp PRCNT>)
DUAL_KEY_INVOKED(dk_sym_DLLR, &sym_DLLR, &sym_PRCNT)

SYMBOL_KEY(UNDER)
MACRO(sym_HASH, <&kp BSPC &kp HASH>)
DUAL_KEY_INVOKED(dk_sym_UNDER, &sym_UNDER, &sym_HASH)

SYMBOL_KEY(PIPE)
MACRO(sym_CARET, <&kp BSPC &kp CARET>)
DUAL_KEY_INVOKED(dk_sym_PIPE, &sym_PIPE, &sym_CARET)

SYMBOL_KEY(PLUS)
MACRO(sym_ASTRK, <&kp BSPC &kp ASTRK>)
DUAL_KEY_INVOKED(dk_sym_PLUS, &sym_PLUS, &sym_ASTRK)

SYMBOL_KEY(TILDE)
MACRO(sym_SLASH, <&kp BSPC &kp SLASH>)
DUAL_KEY_INVOKED(dk_sym_TILDE, &sym_TILDE, &sym_SLASH)

MACRO(ihm_shift_lbkt,
    <&macro_tap &to SYMBOL &tog ALPHA>,
    <&macro_press &hold_ihm_shift_lbkt 0 0>,
    <&macro_pause_for_release>,
    <&macro_release &hold_ihm_shift_lbkt 0 0>
)

HT("tap-preferred", hold_ihm_shift_lbkt, &hold_shift_release_to_nav, &sym_LBKT, 180)

MACRO(hold_shift_release_to_nav,
    <&macro_tap &to SHORTCUT>,
    <&macro_press &kp LSFT>,
    <&macro_pause_for_release>,
    <&macro_release &kp LSFT>,
    <&macro_tap &to NAV>
)

MACRO(sym_LBKT,
    <&macro_release &kp LALT>,
    <&macro_press &kp LBKT>,
    <&macro_pause_for_release>,
    <&macro_release &kp LBKT>
)




MACRO(ihm_num_app_spc,
    <&macro_tap &to SYMBOL &tog ALPHA>,
    <&macro_press &hold_ihm_num_app_spc 0 0>,
    <&macro_pause_for_release>,
    <&macro_release &hold_ihm_num_app_spc 0 0>
)

HT("tap-preferred", hold_ihm_num_app_spc, &hold_num_app_layer_release_to_nav, &sym_SPC, 180)

MACRO(hold_num_app_layer_release_to_nav,
    <&macro_press &num_app_layer>,
    <&macro_pause_for_release>,
    <&macro_release &num_app_layer>,
    <&macro_tap &to NAV>
)

MACRO(sym_SPC,
    <&macro_release &kp LALT>,
    <&macro_press &kp SPC>,
    <&macro_pause_for_release>,
    <&macro_release &kp SPC>
)
